/* Reset gaya default browser */
body, h1 {
    margin: 0;
    padding: 0;
}

header {
    background-color: hwb(0 50% 11%);
    color: #463b3b;
    text-align: center;
    padding: 10px 0;
}

.comic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comic {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    /* Gaya CSS yang akan diterapkan saat layar kurang dari atau sama dengan 768px lebar */
}


/* Gaya lainnya sesuai kebutuhan Anda */
